
main{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

nav{
    max-width: 1200px;
    display: flex;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    height: 3rem;
    box-sizing: border-box;
}

nav h1{
    margin-right: auto;
    padding-left: 1rem;
    color: #666;
}

nav form{
    display: flex; 
    margin-left: auto;
    padding-right: 1rem;
}

nav form input[type=button]{
    display: flex;
    color: rgb(168, 168, 168);
    border: none;
    height: 100%;
    padding: 1rem 4rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

nav form input:hover{
    background-color:#666;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 100%;
    text-decoration: none;
    color: rgb(168, 168, 168);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.4s ease;
}

nav a:hover{
    background-color: #666;
    color: white;
}

section{
    max-width: 1200px;
    margin-top: 1rem;
    background-color: #eee;
    height: 70rem;
}



