@{
    ViewData["Title"] = "Home Page";
}


<div class="card-deck mt-5">
    <div class="card" v-for="pizza in pizzaz.slice(0, 2)">
        <img class="card-img-top" :src="pizza.image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pizza.name}}</h5>
            <p class="card-text">Toppings</p>
            <p class="card-text" v-for="topping in pizza.toppings"><small class="text-muted">{{topping}}</small></p>
        </div>
            <a v-on:click="deletePizza(pizza.name)" class="btn btn-danger">Kassaste pizzan</a>
    </div>
    
   
</div>





