@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Such cute</h1>
    
</div>


@foreach(var dog in Model.Dogs)
            {
                <img src="~/images/@dog.PhotoPath" class="img-thumbnail" style="width:100px" asp-append-version="true"/>
                <h2>@dog.Name</h2>
                <h4>Cuteness: @dog.Cuteness</h4>
                <a class="btn btn-outline-primary" asp-page="/Edit" asp-route-id="@dog.Id">Edit</a>
                <hr />
            }