@page
@model AuthDemo.Pages.Admin.AccountModel
@{
}

<h1>Account</h1>

<form method="post">
    <label for="old-password">Old Password</label>
    <input type="password" id="old-password" asp-for="@Model.OldPassword" />
    <br />

    <label for="new-password">New Password</label>
    <input type="password" id="new-password" asp-for="@Model.NewPassword" />
    <br />

    <button class="btn btn-primary">Change Password</button>
</form>
