@page
@model AuthDemo.Pages.Admin.IndexModel
@{
}

<h1>Only visible when logged in</h1>

<a class="btn btn-primary" asp-page="/Admin/Account">Account</a>

<form method="post">
    <button class="btn btn-outline-danger">Sign out</button>
</form>
