@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Haj</h1>
    <p>PappaskämtGenerator 2000</p>

    <a class="btn btn-info" asp-area="" asp-controller="Joke" asp-action="Index">Nytt skämt</a>
</div>
