@page
@model AuthDemo.Pages.LoginModel
@{
}


<h1>Login</h1>

<form method="post">
    <span class="text-danger" asp-validation-for="@Model.Username"></span>
    <br />
    <span class="text-danger" asp-validation-for="@Model.Password"></span>
    <br />

    <label for="username">UserName</label>
    <input id="username" type="text" asp-for="@Model.Username" value="" />

    <label for="password">Password</label>
    <input id="password" type="password" asp-for="@Model.Password" value="" />

    <button class="btn btn-outline-success">Sign in</button>
</form>