@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Never Bored</h1>
    <a class="btn btn-outline-primary" asp-page="/Bored/Index">Ijm böred</a>
</div>
