@page
@model NeverBored.Pages.Bored.FavoritesModel
@{
}

<div class="text-center">
    <form method="post">
        @foreach (var bored in NeverBored.Pages.Bored.IndexModel.Boreds)
        {
            <p style="display:inline" class="mr-4">@bored.Activity</p>
            <button class="btn btn-danger" asp-page-handler="Delete" asp-route-key="@bored.Key">Delete</button>
            <br />
        }
    </form>

    <a asp-page="/Bored/Index" class="btn-outline-primary">Bak tå böred</a>

</div>
