@page
@model NeverBored.Pages.Bored.FavoritesModel
@{
}

<div class="text-center">
    @foreach(var bored in NeverBored.Pages.Bored.IndexModel.Boreds)
            {
                <p>@bored.Activity</p>
                <a ></a>
            }
    <a asp-page="/Bored/Index" class="btn-outline-primary">Bak tå böred</a>
</div>
