@page
@model NeverBored.Pages.Bored.FavoritesModel
@{
}

<div class="text-center">
    <form method="post">
        @foreach (var bored in NeverBored.Pages.Bored.IndexModel.Boreds)
        {
            <p>@bored.Activity</p>
            <button class="btn btn-danger" asp-page-handler="Delete" asp-route-key="@bored.Key">Delete</button>
            @*<a class="btn btn-danger" asp-route-bored="@bored" asp-page="/hero/removehero">Delete</a>*@
        }
    </form>

    <a asp-page="/Bored/Index" class="btn-outline-primary">Bak tå böred</a>

</div>
