@page
@model NeverBored.Pages.Bored.IndexModel
@{
}

<div class="text-center">
    <h1>@Model.Bored.Activity</h1>

    <form method="post">
        <label for="favorite">bra skit</label>
        <input type="checkbox" name="isFavorite" asp-for="@Model.isFavorite">
        <button class="btn btn-outline-info">Säjv</button>
    </form>
    <a asp-page="/Bored/Index" class="btn btn-outline-info">Gett mi ann åther wone</a>
</div>

@if (Model.Boreds.Any()) 
{ 
  <p>@Model.Boreds.Count()</p>
}
