@page
@model NeverBored.Pages.Bored.IndexModel
@{
}

<div class="text-center">
    <h1>@NeverBored.Pages.Bored.IndexModel.Bored.Activity</h1>

    <form method="post">
        <label for="favorite">bra skit</label>
        <input type="checkbox" name="isFavorite" asp-for="@Model.isFavorite">
        <button class="btn btn-outline-info ml-2">Säjv</button>
    </form>
    <br />
    <a asp-page="/Bored/Index" class="btn btn-outline-info">Gett mi ann åther wone</a>
    <a asp-page="/Bored/Favorites" class="btn btn-outline-info">Fäjvorites</a>
</div>

@if (NeverBored.Pages.Bored.IndexModel.Boreds.Any()) 
{ 
  <p>@NeverBored.Pages.Bored.IndexModel.Boreds.Count()</p>
}
