@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@ViewBag.Joke
<br />

<a class="btn btn-info" asp-area="" asp-action="Index">Nytt skämt</a>