@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>@ViewBag.Joke</p>

<a class="btn btn-info" asp-area="" asp-action="Index">Nytt skämt</a>

<a class="btn btn-info" asp-area="" asp-action="Formatted" asp-route-type="caps">VAFAAAN</a>
<a class="btn btn-info" asp-area="" asp-action="Formatted" asp-route-type="!!!">!!!</a>
<a class="btn btn-info" asp-area="" asp-action="Formatted" asp-route-type="???">???</a>
<a class="btn btn-info" asp-area="" asp-action="Formatted" asp-route-type="röv">HupptiDuppti</a>

